body {
	margin: -12px 0 0 0;
}
h1 {
	font-family: Gilroy, Montserrat;
    font-weight: 900;
    text-transform: uppercase;
    text-align:center;
}
p {
	font-family:roboto;
}
main {
	background-color:#efefef;
}
.game-banner {
	width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-banner h1 {
	color:white;
}
#alttp-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/alttp-banner.png);
}
#aladdin-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/aladdin-banner.jpg?raw=true);
}
#altered-beast-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/altered-beast-banner.jpg);
}
#kirby-dreamland-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/kirby-dreamland-banner.jpg);
}
#lion-king-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/lion-king-banner.jpg);
}
#majora-mask-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/majora-mask-banner.jpg);
}
#metal-slug-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/metal-slug-banner.jpg);
}
#ocarina-of-time-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/ocarina-of-time-banner.png);
}
#sonic-the-hedgehog-2-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/sonic-the-hedgehog-2-banner.jpg);
}
#street-fighter-2-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/street-fighter-2-banner.jpg);
}
#super-mario-64-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/super-mario-64-banner.jpg);
}
#super-mario-bros-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/super-mario-bros-banner.jpg);
	background-position:bottom;
}
#virtual-tennis-banner {
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/virtual-tennis-banner.jpg);
}
.product-game-title {
	font-size:16px;
	font-family:roboto;
	font-weight:normal;
	padding-left:20px;
}
.product-game-title a {
	color:black;
	transition:all 0.2s ease-in-out;
	font-weight:bold;
}
.product-game-title a:hover {
	color:#52ae32;
}

.product-game-information {
	padding:50px 0 50px 0;
}

.game-image-value-description {
	width:100%;
	height:230px;
	position:relative;
	max-width:900px;
	margin:0 auto;
	background-color:white;
	box-shadow:2px 3px 6px lightgrey;
	border-radius:15px;
	margin-bottom:50px;
}
.game-image-value-description .game-image {
	position:absolute;
	top:0;
	left:20px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	box-shadow:0px 2px 5px grey;
	max-width:250px;
}
.game-image-value-description .game-argus {
	position:absolute;
	top:0;
	left:335px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	padding:15px;
	font-family:Gilroy;
	color:white;
	font-weight:bold;
	box-shadow:0px 2px 5px grey;
}
.positive-cotation {
	background-color:#52ae32;
}
.negative-cotation {
	background-color:#bf1920;
}
.neutral-cotation {
	background-color:#4B4B4B;
}
.negative-cotation {
	background-color:red;
}
.game-image-value-description .description-bloc {
	position:absolute;
	right:0;
	padding:20px;
	top:0;
	width:60%;
	max-width:450px;
}
.game-image-value-description h3 {
	font-family:Gilroy;
	font-size:16px;
}
.game-image-bloc {
	position:absolute;
	width:33%;
	height:100%;
	background-position:center;
	background-size:contain;
	background-color:black;
	background-repeat:no-repeat;
	border-radius:15px 0 0 15px;
}
.game-image-bloc.alttp {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/snes/The_Legend_of_Zelda_A_Link_to_the_Past_SNES_Game_Cover.jpg);
}
.game-image-bloc.aladdin {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/snes/aladdin-cover.jpg);
}
.game-image-bloc.altered-beast {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/sega-genesis/altered-beast-genesis.png);
}
.game-image-bloc.kirby-dreamland {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/snes/kirby-dl3-snes.png);
}
.game-image-bloc.lion-king {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/snes/lion-king-cover.jpg);
}
.game-image-bloc.majora-mask {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/N64/majora-mask-cover.jpg);
}
.game-image-bloc.metal-slug {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/NeoGeo/metal-slug-e143691.jpg);
}
.game-image-bloc.ocarina-of-time {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/N64/The_Legend_of_Zelda_Ocarina_of_Time_box_art.png);
}
.game-image-bloc.sonic-the-hedgehog-2 {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/sega-genesis/Sonic2_European_Box.jpg);
}
.game-image-bloc.street-fighter-2 {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/snes/SF2_JPN_flyer.jpg);
}
.game-image-bloc.super-mario-64 {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/N64/Super_Mario_64_box_cover.jpg);
}
.game-image-bloc.super-mario-bros {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/NES/Super_Mario_Bros._box.png);
}
.game-image-bloc.virtual-tennis {
	background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/games/dreamcast/vten.jpg);
}
.all-tabs {
    display:flex;
}
.all-tabs button:nth-child(1) {
	border-top-left-radius:15px;
}
.all-tabs button:nth-child(4) {
	border-top-right-radius:15px;
}
.tab-container {
	width:100%;
	position:relative;
	max-width:900px;
	margin:0 auto;
	border-radius:15px;
}
.tab {
	padding:20px;
	transition:all 0.2s ease-in-out;
	cursor:pointer;
	background-color:#52ae32;
	color:white;
	font-family:Gilroy;
	font-size:16px;
	text-transform:uppercase;
	border:1px solid #efefef;
}
.tab:hover {
	background-color:white;
	color:#52ae32;
	border:1px solid transparent;
}
.tab.active {
	background-color:white;
	color:#52ae32;
	border:1px solid transparent;
}
.tab-content-container {
	padding:20px;
	background-color:white;
	color:black;
	border-radius:0 15px 15px 15px;
	display:none;
	box-shadow:2px 2px 5px lightgrey;
}
.tab-content-container a {
	color:#52ae32;
	text-decoration:underline;
}
.visible {
	display:block;
}
.tab-content-container span {
	font-family:roboto;
}
.tab-content-container .game-info-headings {
	font-family:gilroy;
	font-weight:bold;

}
.game-video {
	font-family:Gilroy;
	color:white;
	text-align:center;
	padding:50px 0 50px 0;
}
.tv-video {
	width:100%;
	max-width:900px;
	min-width:300px;
	position:relative;
	height:450px;
	margin:0 auto;
	padding-top:50px;
}
.tv-video iframe {
	width:100%;
	height:100%;
}
.heading-with-background {
	width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52ae32;
    position: sticky;
    top: 0;
    z-index: 99999;
    color:white;
    font-family:Gilroy;
}
.similar-games-bloc-container {
	display:flex;
	justify-content:center;
	padding: 50px 0 50px 0;
	width: 100%;
    max-width: 900px;
    margin:0 auto;
}
.similar-games-bloc-container a {
	display:contents;
}
.bloc {
    height: 200px;
	width: 30%;
    background-color: lightgrey;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 6px lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    flex-direction:column;
    transition:all 0.2s ease-in-out;
}
.bloc:hover {
    transform: scale(1.03);
}
.bloc span.game-bloc-platform {
    position: absolute;
    top:0;
    left:30px;
    background-color: #52ae32;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 5px grey;
}
.bloc span.game-bloc-type {
    position: absolute;
    top:0;
    right:30px;
    background-color: red;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 5px grey;
}
.bloc-container {
    width:calc(100vw - 250px);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.bloc.super-mario-bros-2-container {
    background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/WildCodeSchool/lyon-0320-golden-retro/dev/Images/Jeux/supermariobros.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.sonic-the-hedgehog-2-container {
    background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/sonic-the-hedgehog-2-banner.jpg);
    background-position:center;
    background-size:cover;

}
.bloc.pac-man-container {
    background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/WildCodeSchool/lyon-0320-golden-retro/geoffroy/Images/Jeux/pacman-149704_1280.png);
    background-position:center;
    background-size:cover;
}
.bloc.street-fighter-container {
    background-image:linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/street-fighter-2-banner.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.tloz-alttp-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/alttp-banner.png);
    background-position:center;
    background-size:cover;
}
.bloc.tloz-mm-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/majora-mask-banner.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.tloz-oot-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/ocarina-of-time-banner.png);
    background-position:center;
    background-size:cover;
}
.bloc.aladdin-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/aladdin-banner.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.altered-beast-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/altered-beast-banner.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.kirby-dreamland-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/kirby-dreamland-banner.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.lion-king-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/lion-king-banner.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.metal-slug-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/metal-slug-banner.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.super-mario-64-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/super-mario-64-banner.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.virtual-tennis-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/virtual-tennis-banner.jpg);
    background-position:center;
    background-size:cover;
}
.game-banner-name {
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	width:200px;
	height:150px;
}
.game-banner-name.aladdin {
	background-image:url(https://raw.github.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/aladdin-white.png);
}
.game-banner-name.majora-mask {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/majora-mask-logo.png);
}
.game-banner-name.a-link-to-the-past {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/a-link-to-the-past-logo.png);
}
.game-banner-name.altered-beast {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/altered-beast-logo.png);
}
.game-banner-name.kirby-dreamland-2 {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/kirby-dreamland-logo.png);
}
.game-banner-name.lion-king {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/lion-king-logo-white.png);
}
.game-banner-name.metal-slug {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/metal-slug-logo.gif);
}
.game-banner-name.ocarina-of-time {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/ocarina-of-time-logo.png);
}
.game-banner-name.sonic-the-hedgehog-2 {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/sonic-logo.png);
}
.game-banner-name.street-fighter-2 {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/Street_Fighter_old_logo.png);
}
.game-banner-name.super-mario-64 {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/super-mario-64.png);
}
.game-banner-name.super-mario-bros {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/super-mario-bros.gif);
}
.game-banner-name.virtua-tennis {
	background-image:url(https://raw.githubusercontent.com/Gottfrieden/lyon-0320-golden-retro/master/Images/Jeux/banner/logos/virtua-tennis-logo.png);
}

.bloc h3{
    font-size: 24px;
    font-family:Gilroy;
}

.bloc span{
    font-size: 12px;
    font-family: Gilroy, Montserrat;
}

/* MEDIA SLIDER TAB */

.media-slider-container {
	width:calc(100% - 20px);
	height:400px;
	background-color:#efefef;
	margin:10px;
	position:relative;
}
#media-active-image {
	width:100%;
	height:300px;
	position:absolute;
	left:0;
	top:0;
}
.media-thumbnail-container {
	display:flex;
	justify-content:center;
	position:absolute;
	left:0;
	top:300px;
	height:100px;
	width:100%;
}
.media-image-thumbnail {
	width:calc(20% - 2px);
	height:100px;
	border:1px solid white;
	cursor:pointer;
	filter:grayscale(1);
	transition:all 0.2s ease-in-out;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
.media-image-thumbnail.active, .media-image-thumbnail:hover {
	filter:grayscale(0);
}
.media-image-thumbnail.active {
	position:relative;
}
.media-image-thumbnail.active::before {
	position:absolute;
	top:-8px;
	content:'';
	width:100%;
	height:8px;
	background-color:#52ae32;
    border-radius: 15px 15px 0 0;
}
.media-image-thumbnail.active::after {
	position:absolute;
	top:-13px;
	height:10px;
	width:10px;
	left:50%;
	transform:translateX(-50%) rotate(45deg);
	content:'';
	background-color:#52ae32;
}

.majora-mask-1 {
	background-image:url(https://i.ytimg.com/vi/7FaOqn8ypJ4/maxresdefault.jpg);
}
.majora-mask-2 {
	background-image:url(https://www.gamecrate.com/sites/default/files/i_18447.jpg);
}
.majora-mask-3 {
	background-image:url(https://i.ytimg.com/vi/LMZGpnVzpU0/maxresdefault.jpg);
}
.majora-mask-4 {
	background-image:url(https://gamespot1.cbsistatic.com/uploads/scale_landscape/536/5360430/2811074-2727865-mm3ds.jpg);
}
.majora-mask-5 {
	background-image:url(https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/mtn16-GKR94AWQ9CP-Full-Image_GalleryBackground-en-US-1571640650675._RI_.jpg);
}



@media all and (max-width:920px) and (orientation:portrait) {
	.game-image-bloc {
		width:100%;
	}
	.game-image-value-description .game-argus {
		left:20px;
		top:initial;
	}
	.game-image-value-description {
		position:initial;
		height:auto;
	}
	.game-image-bloc {
		height:200px;
	}
	.game-image-value-description .description-bloc {
		position:initial;
		max-width:300px;
		width:100%;
		padding-top:200px;
	}
	.tab {
		width:33.33%;
	}
	.tab-content-container {
		border-radius:0 0 15px 15px;
		max-width:100vw;
	}
	.tv-video {
		margin-left:0%;
	}
	.tv-img {
		width:100%;
	}
	.logo-rs-footer-container article a img {
		margin: 0 20px!important;
	}
}